{{#partial "title"}}Add squad{{/partial}}

{{#block "styles"}}
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../css/styles.css">
{{/block}}

{{#partial "content"}}
    <h1>Add a squad:</h1>
    <div class="container">
        <form action="/squad" method="post">
            <label for="squadName">Hero Squad's Name</label>
            <input class="form-control" type="text" id="squadName" name="squadName" placeholder="e.g. Team Batman">
            <label for="squadCause">Hero Squad's Cause</label>
            <input class="form-control" type="text" id="squadCause" name="squadCause" placeholder="e.g. Purge Gotham from evil">
            <label for="squadSize">Hero Squad Maximum Size</label>
            <input class="form-control" type="text" id="squadSize" name="squadSize" placeholder="e.g 1. (Batman fights alone)">
            <br>
            <button type="submit" class="btn btn-default">Go!</button>
        </form>
    </div>
{{/partial}}

{{> layout.hbs}}